.container{
    border: 1px solid;
    max-width: fit-content;
    background: linear-gradient(to right, lightblue, rgb(0, 234, 255)) !important;
    
}

label{
    font-weight: bold;
}

  .table {
    font-size: 1.1em; 
  }
  