<!DOCTYPE html>
<html>
<head>
    <style>
        
    </style>
</head>
<body>
    <div id="header">
        <h3 class="text-primary text-center mt-3" id="het">Welcome Admin!</h3>
        <button (click)="logout()" routerLink="" class="btn btn-dark float-right mr-3">Logout</button> 
    </div> 

    <div class="container mt-5 col-md-12 text-center box-container">
        <button id="btn" type="submit" routerLink="manageTrain" class="text-center btn-secondary mt-5 box">Manage Train</button>
        <br>
        <button id="btn" type="submit" routerLink="passengerDetails" class="text-center btn-secondary mt-5 box">Manage Passenger</button>
        <br>
        <button id="btn" type="submit" routerLink="manageRoutes" class="text-center btn-secondary mt-5 box">Manage Train Routes</button>
        <br>
        <button id="btn" type="submit" routerLink="bookingDetails" class="text-center btn-secondary mt-5 box">Booking Details</button>
    </div>
</body>
</html>
