
body {
   
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
  }
  
  .vh-100 {
    height: 100vh;
  }
  
  .bg-image {
    
    background-size: cover;
    background-position: center center;
  }
  
  .gradient-custom-3 {

    opacity: 0.85;
  }
  
  .card {
    border-radius: 20px;
    border: none;
    background: rgba(255, 255, 255, 0.6);
  }
  
  .form-outline {
    margin-bottom: 1rem;
  }
  
  .form-outline input[type="text"],
  .form-outline input[type="email"],
  .form-outline input[type="password"],
  .form-outline input[type="number"],
  .form-outline input[type="date"] {
    border: none;
    border-radius: 0;
    box-shadow: none;
  }
  
  .form-outline label {
    font-weight: 600;
  }
  
  .form-outline input[type="text"]:focus,
  .form-outline input[type="email"]:focus,
  .form-outline input[type="password"]:focus,
  .form-outline input[type="number"]:focus,
  .form-outline input[type="date"]:focus {
    box-shadow: none;
  }
  
  .btn-success {
    background-color: #33b5e5;
    border: none;
    box-shadow: none;
  }
  
  .btn-success:hover {
    background-color: #31a9b8;
  }
  
  .btn-success:focus {
    box-shadow: none;
    background-color: #2a88b6;
  }

  #account-text {
    color: #000000 !important; 
  }
  

  
  